{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "env": {
        "node": true,
        "browser": true,
        "amd": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "next/core-web-vitals"
    ],
    "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-explicit-any": "warn",
        "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
        "@typescript-eslint/no-extra-semi": "off",
        "@next/next/no-html-link-for-pages": "off"
    },
    "ignorePatterns": [".next/", "node_modules/", "out/", "components/", "constants/", "utils/", "styles/"]
}
