# npm
node_modules

# next.js build files
.next
out

# environment variables
.env
.env.*
!.env.example

# misc
.eslintcache
**/*.log
**/.DS_Store
.vscode
**/*.cache
# next.js generated types (rewritten by next dev/build)
next-env.d.ts
